PORT=8000
FIREBASE_ADMIN_KEY='{"type": "service_account", "project_id": "<firebase_project>", "private_key_id": "<firebase_private_key_id>", "private_key": "<firebase_private_key>", "client_email": "<firebase_client_email>", "client_id": "<firebase_client_id>", "auth_uri": "<firebase_auth_uri>", "token_uri": "<firebase_token_uri>", "auth_provider_x509_cert_url": "<firebase_auth_provider_x509_cert_url>", "client_x509_cert_url": "<firebase_client_x509_cert_url>"}'
FIREBASE_DATABASE="<firebase_database_url>"